<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-sm-12 col-md-12">
                <div class="card user-card-full">
                    <div class="card-block">
                        <div class="row" style="margin: 10px;">
                            <div class="col-md-2 center">
                                <span><a [routerLink]="['/dashboard/excel']" class="btn btn-primary ripple light"
                                        style="float: right;">Upload Excel</a></span>
                            </div>
                            <div class="col-md-2 center">
                                <span>
                                    <a [routerLink]="['/dashboard/mis']" class="btn btn-primary ripple light"
                                        style="float: right;">Update MIS</a>
                                </span>
                            </div>
                            <div class="col-md-2 center">
                                <span>
                                    <a [routerLink]="['/dashboard/generateReceipt']"
                                        class="btn btn-primary ripple light" style="float: right;">Generate Receipt</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>