<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Anyone Payment Form</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <div class="card-block">
                <form action="javascript:" [formGroup]="angForm" novalidate>
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Application_Date" class="form-control" placeholder=" "
                                        autofocus max="{{datemax | date:'yyyy-MM-dd'}}"
                                        (focusout)="disabledate(date.value)" [(ngModel)]="applicationDate"
                                        id="Application_Date" onfocus="(this.type='date')" #date
                                        formControlName="Application_Date">
                                    <label for="Application_Date">Application Date</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Application_Date'].invalid && (angForm.controls['Application_Date'].dirty || angForm.controls['Application_Date'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Application_Date'].errors?.required">
                                    This is required field
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Received_From" class="form-control"
                                        placeholder="Enter Received From " id="Received_From"
                                        pattern="^[A-Za-z0-9\./ -]+$" title="Input allowed only  A-Z a-z (Space)"
                                        formControlName="Received_From">
                                    <label for="Received_From">Received From<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Received_From'].invalid && (angForm.controls['Received_From'].dirty || angForm.controls['Received_From'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Received_From'].errors?.required || angForm.controls['Received_From'].errors?.pattern">
                                    This is required field
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Examination" class="form-control"
                                        placeholder="Examination " id="Examination" pattern="^[A-Za-z0-9\./ -]+$"
                                        title="Input allowed only  A-Z a-z (Space)" formControlName="Exam">
                                    <label for="Examination">Examination<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Exam'].invalid && (angForm.controls['Exam'].dirty || angForm.controls['Exam'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Exam'].errors?.pattern || angForm.controls['Exam'].errors?.required">
                                    This is required field
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <ng-select [items]="purpose" bindValue="ID" bindLabel="NAME"
                                        formControlName="purpose" [(ngModel)]="selectPurpose"
                                        placeholder="Select Purpose" (ngModelChange)="getAnyoneTableDetails($event)">
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['purpose'].invalid && (angForm.controls['purpose'].dirty || angForm.controls['purpose'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['purpose'].errors?.required">
                                    This is required field
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div style="overflow-x: auto;">
                                <table class="table table-bordered compact">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 15%;">BUDGET CODE</th>
                                            <th scope="col" style="width: 20%;">BUDGET HEAD</th>

                                            <th scope="col" style="width: 20;">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of anyoneDescriptionDetails;let i = index">
                                            <th scope="row">{{data.BUDGET_CODE}}</th>
                                            <td>{{data.GL_NAME}}</td>

                                            <td> <input type="text" name="Examination" class="form-control"
                                                    placeholder="Enter Amount " id="Examination" pattern="^[0-9]+$"
                                                    style="text-align: right;" (keyup)="changeAmt($event,i)"
                                                    title="Input allowed only  A-Z a-z (Space)" value="{{data.AMOUNT}}">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>

                        <div class="col-sm-2 " style="float: right;">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Total_Amount" class="form-control " placeholder=" "
                                        id="Total_Amount" pattern="^[A-Za-z\./ -]+$" style="text-align: right;"
                                        [value]="totalAmount" title="Input allowed only  A-Z a-z (Space)"
                                        formControlName="Total_Amount" disabled>
                                    <label for="Total_Amount">Total Amount<sub class="required">* </sub></label>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>


                        <div class="col-sm-4 ">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <textarea type="text" name="Enter_Particular" class="form-control" placeholder=" "
                                        style="height: 60px;" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z  - / . (Space)" id="Enter_Particular"
                                        maxlength="4000" formControlName="Enter_Particular" required></textarea>
                                    <label for="Enter_Particular">Enter Particular<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Enter_Particular'].invalid && (angForm.controls['Enter_Particular'].dirty || angForm.controls['Enter_Particular'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Enter_Particular'].errors?.required">
                                    This is required field
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row" style="margin-top:1%">
                        <div class="col-sm-8">

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <!-- <select class="form-control" formControlName="bank_code">
                                    <option *ngFor="let bank of bankDetails" value="{{bank.CODE}}">{{bank.NAME}}</option>
                                </select> -->
                                <ng-select [(ngModel)]="selectedBank" formControlName="bank_code"
                                    placeholder="Select Bank Name">
                                    <ng-option *ngFor="let bank of bankDetails" [value]="bank.ID">
                                        {{bank.NAME}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-12">
                            <div style="float: right;">
                                <!-- <button class="btn btn-primary  ripple light " style="margin-right:3px"
                                    (click)="saveAsDraft()">Save As
                                    Draft</button> -->
                                <button class="btn btn-primary ripple light" style="margin:3px"
                                    (click)="saveAsDraft()">Save
                                    & Proceed To
                                    Pay</button>
                                <button class="btn btn-dark ripple light" [routerLink]="">Back</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>