<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Utility Module</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Select Excel File</label>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group input-group">
                            <span class="border-lable-flt">
                                <input type="file" class="form-control" id="fileUpload" (change)="addfile($event)"
                                    placeholder="Upload file" #myNameElem
                                    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary  ripple light" (click)="SubmituploadedExcel()"
                                [disabled]="buttonShow">Upload
                                Excel</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary  ripple light" (click)="back()">Back</button>
                        </div>

                    </div>
                </div>
                <div class="row" *ngIf="showUploadImg">
                    <div class="col-sm-12 text-center">
                        <img src="assets/uploading.gif" style="width: 20%;"><br>
                        <label>Thank for your Patience</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>