<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Student Draft</h5>
                <h6 style="float: right;"></h6>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                      <div style="overflow-x: auto;">
                        <table datatable  class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Sr No.</th>
                                <th>Draft Date</th>
                                <th>Application Date</th>
                                <th>Received From</th>
                                <th>Examination</th>
                                <th>Department</th>
                                <th></th>



                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of draftlist; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{data.TRAN_DATE}}</td>
                                <td>{{data.TRAN_DATE}}</td>
                                <td>{{data.PAID_BY}}</td>

                                <td>{{data.EXAM_NAME}}</td>
                                <td>{{data.DEPT_NAME}}</td>

                                <td><a class="btn btn-primary btn-sm"   [routerLink]="['/Payment/student/studentpayment']">
                                    Show Draft
                                  </a></td>
                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                    </div>
                                       
                </div>
            </div>
        </div>
    </div>
</div>