<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Student Draft</h5>
                <h6 style="float: right;"></h6>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm">
                      <div style="overflow-x: auto;">
                        <table datatable  class="table table-striped table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Sr No.</th>
                                <th>Draft Date</th>
                                <th>Application Date</th>
                                <th>Received From</th>
                                <th>Examination</th>
                                <th>Department</th>
                                <th></th>



                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>13/12/2020</td>
                                <td>12/12/2020</td>
                                <td>University</td>

                                <td>November 2021</td>
                                <td>CSE</td>

                                <td><a class="btn btn-primary btn-sm"   [routerLink]="['/Payment/student/studentpayment']">
                                    Show Draft
                                  </a></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>13/12/2020</td>
                                <td>12/12/2020</td>
                                <td>University</td>

                                <td>November 2021</td>
                                <td>MECHANICAL</td>

                                <td><a class="btn btn-primary btn-sm" [routerLink]="['/Payment/student/studentpayment']">
                                    Show Draft
                                  </a></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>13/12/2020</td>
                                <td>12/12/2020</td>
                                <td>University</td>

                                <td>November 2021</td>
                                <td>CIVIL</td>
                                <td><a  class="btn btn-primary btn-sm " [routerLink]="['/Payment/student/studentpayment']">
                                    Show Draft
                                  </a></td>
                              </tr>
                             
                              
                              
                            </tbody>
                          </table>
                        </div>
                    </div>
                                       
                </div>
            </div>
        </div>
    </div>
</div>