<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material">
                    <div class="auth-box card">
                        <div class="card-body">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Recover your password</h3>
                                </div>
                            </div>
                            <div *ngIf="forgetAnswer">
                                <div class="form-group form-primary form-static-label">
                                    <input type="text" name="email-address" [(ngModel)]="email" class="form-control"
                                        id="email" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Email Address</label>
                                </div>

                                <div class="form-group form-primary form-static-label">
                                    <ng-select [items]="questions" bindValue="CODE" bindLabel="NAME"
                                        [(ngModel)]="selectQue" (change)="value($event)"
                                        placeholder="Select Password Recovery Question">
                                    </ng-select>
                                </div>

                                <div class="form-group form-primary form-static-label">
                                    <input type="text" name="answer" [(ngModel)]="forgotAnswer" class="form-control"
                                        required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Your Answer</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" (click)="SubmitAnswer()"
                                            class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple">
                                            <b style="color: white;">Submit
                                                Answer</b></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button
                                            class="btn btn-dark btn-md btn-block waves-light text-center m-b-20 ripple"
                                            [routerLink]="['/auth/login/simple']"><b
                                                style="color: white;">Back</b></button>
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-4 text-right f-right">
                                        <img src="assets/images/BwaysLogo.png" alt="small-logo.png" style="width: 100%;"
                                            class="logosize">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="forgetPassword">
                                <div class="form-group form-primary form-static-label">
                                    <input [type]="passType" name="password" [(ngModel)]="password" class="form-control"
                                        style="width: 90%;">
                                    <span toggle="#password-field"
                                        style="font-size: 20px;color: #262d38; cursor: pointer;"
                                        class="fa fa-fw fa-eye field-icon toggle-password"
                                        (click)="showHidePassword()"></span>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Password</label>
                                </div>
                                <div class="form-group form-primary form-static-label">
                                    <input [type]="passType1" name="confrm_password" [(ngModel)]="confirmpassword"
                                        class="form-control" style="width: 90%;">
                                    <span toggle="#password-field"
                                        style="font-size: 20px;color: #262d38; cursor: pointer;"
                                        class="fa fa-fw fa-eye field-icon toggle-password"
                                        (click)="showHidePassword1()"></span>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Confirm Password</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" (click)="resetPassword()"
                                            class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple"><b
                                                style="color: white;">Reset
                                                Password</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<div class="footer">
    <p class="text-center m-b-0"> &copy; Compserv Consultant Pvt. Ltd.</p>
</div>