<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header" style="background-color: #e2e3f9;">
                <h5>Feedback Form</h5>
                <h6 style="float: right;"> Fields marked with (<sub class="required">*</sub>) are mandatory</h6>
            </div>
            <div class="card-block">
                <form action="javascript:" [formGroup]="angForm" novalidate>
                    <div class="row">
                        <div class="col-sm-2" style="max-width: 14%">
                            <label for="purpose">Reason<sub class="required">* </sub></label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <ng-select [(ngModel)]="selectPurpose" placeholder="Select Reason"
                                        formControlName="reason">
                                        <ng-option *ngFor="let car of reasonlist" [value]="car.ID">{{car.NAME}}
                                        </ng-option>
                                    </ng-select>
                                </span>
                            </div>
                            <!-- <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['purpose'].invalid && (angForm.controls['purpose'].dirty || angForm.controls['purpose'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['purpose'].errors?.required">
                                    This is required field
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="max-width: 14%">
                            <label for="purpose">Description<sub class="required">* </sub></label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">

                                    <textarea row="3" class="form-control" formControlName="description"></textarea>
                                </span>
                            </div>
                            <!-- <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['purpose'].invalid && (angForm.controls['purpose'].dirty || angForm.controls['purpose'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['purpose'].errors?.required">
                                    This is required field
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="max-width: 14%"></div>
                        <div class="col-md">
                            <button class="btn btn-primary ripple light" (click)="submit()">Submit</button> &nbsp;
                            <button class="btn btn-primary ripple light" [routerLink]="['/dashboard']">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>