<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-color: #e2e3f9;">
        <h5>Successful Payments</h5>
        <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm">
            <div style="overflow-x: auto;">
              <table class="table table-striped table-bordered table-hover compact">
                <thead>
                  <tr style="background-color: #d6e2f8 !important;">
                    <th>Sr No.</th>
                    <th>Application ID</th>
                    <th>Application Date</th>
                    <th>Amount</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of success; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.TRAN_NO}}</td>
                    <td>{{item.TRAN_DATE | date:'yyyy-MM-dd' }}</td>
                    <td>{{item.TRAN_AMT}}</td>
                    <td>
                      <span class="badge badge-pill badge-success" style="cursor: pointer;"
                        (click)="gotoPrint(item.TRAN_NO)">Print</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card"  >
      <div class="card-header" style="background-color: #e2e3f9;">
        <h5>Unsuccessful Payments</h5>
        <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm">
            <div style="overflow-x: auto;">
              <table class="table table-striped table-bordered table-hover compact">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Application ID</th>
                    <th>Application Date</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of unsccess; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.TRAN_NO}}</td>
                    <td>{{item.TRAN_DATE}}</td>
                    <td>{{item.TRAN_AMT}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card"  >
      <div class="card-header" style="background-color: #e2e3f9;">
        <h5>Successful But Not Printed</h5>
        <!-- <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6> -->
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm">
            <div style="overflow-x: auto;">
              <table class="table table-striped table-bordered table-hover compact">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Application ID</th>
                    <th>Application Date</th>
                    <th>Amount</th>
                    <th>Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of notPrinted; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.TRAN_NO}}</td>
                    <td>{{item.TRAN_DATE}}</td>
                    <td>{{item.TRAN_AMT}}</td>
                    <td><span class="badge badge-pill badge-warning">Not Printed !</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>