<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>College Payment Form</h5>
                <h6 style="float: right;"><sub class="required">* </sub>: Required Fields</h6>
            </div>
            <div class="card-block">
                <form action="javascript:" [formGroup]="angForm" novalidate>
                    <div class="row">

                        <div class="col-sm-2">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <!-- <input type="text" name="Application_Date" class="form-control" placeholder=" "
                                        max="{{datemax | date:'yyyy-MM-dd'}}" (focusout)="disabledate(date.value)"
                                    <input type="text" name="Application_Date" class="form-control" placeholder=" " autofocus
                                        max="{{datemax | date:'yyyy-MM-dd'}}" (focusout)="disabledate(date.value)"  [(ngModel)]="applicationDate"
                                        id="Application_Date" onfocus="(this.type='date')" #date
                                        formControlName="Application_Date"> -->
                                    <input type="date" name="Application_Date" class="form-control" placeholder=" "
                                        max="{{datemax | date:'yyyy-MM-dd'}}" #date (focusout)="disabledate(date.value)"
                                        id="Application_Date" [(ngModel)]="applicationDate"
                                        formControlName="Application_Date">
                                    <label for="Application_Date">Application Date</label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Application_Date'].invalid && (angForm.controls['Application_Date'].dirty || angForm.controls['Application_Date'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Application_Date'].errors?.required">
                                    This is required field
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Received_From" class="form-control"
                                        placeholder="Enter Received From " id="Received_From"
                                        pattern="^[A-Za-z0-9\./ -]+$" title="Input allowed only  A-Z a-z (Space)"
                                        formControlName="Received_From">
                                    <label for="Received_From">Received From<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Received_From'].invalid && (angForm.controls['Received_From'].dirty || angForm.controls['Received_From'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Received_From'].errors?.required|| angForm.controls['Received_From'].errors?.pattern">
                                    This is required field
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Examination" class="form-control"
                                        placeholder="Enter Received From " id="Examination"
                                        pattern="^[A-Za-z0-9\./ -]+$" title="Input allowed only  A-Z a-z (Space)"
                                        formControlName="Examination">
                                    <label for="Examination">Examination<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Examination'].invalid && (angForm.controls['Examination'].dirty || angForm.controls['Examination'].touched)"
                                class="alert alert-danger">
                                <div
                                    *ngIf="angForm.controls['Examination'].errors?.required || angForm.controls['Examination'].errors?.pattern">
                                    This is required field
                                </div>
                            </div>
                            <!-- <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Examination" class="form-control"
                                        placeholder="Enter Examination " id="Examination" 
                                        title="Input allowed only  A-Z a-z (Space)" formControlName="Examination" required>
                                    <label for="Examination">Examination<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Examination'].invalid && (angForm.controls['Examination'].dirty || angForm.controls['Examination'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Examination'].errors?.required || angForm.controls['Examination'].errors?.pattern ">
                                    This is required field
                                </div>
                            </div> -->

                        </div>
                        <!-- <div class="col-sm" style="margin-bottom: 5px;">
                            <ng-select [items]="cars1" bindLabel="name" placeholder="Select Department" bindValue="id"
                                [(ngModel)]="selectedCar1" formControlName="Select_Department">
                            </ng-select>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Select_Department'].invalid && (angForm.controls['Select_Department'].dirty || angForm.controls['Select_Department'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['Select_Department'].errors?.required">
                                    This is required field
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-sm">
                            <ng-select [items]="cars" bindLabel="name" placeholder="Select Challan Structure"
                                bindValue="id" [(ngModel)]="selectedCar" formControlName="Select_Department"
                                formControlName="Challan_Structure">
                            </ng-select>                         
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Challan_Structure'].invalid && (angForm.controls['Challan_Structure'].dirty || angForm.controls['Challan_Structure'].touched)"
                                class="alert alert-danger  mt-2">
                                <div *ngIf="angForm.controls['Challan_Structure'].errors?.required">
                                    This is required field
                                </div>
                            </div>                          
                        </div> -->
                        <div class="col-sm-3">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">                                  
                                    <ng-select [items]="purpose" bindValue="ID" bindLabel="NAME"
                                        formControlName="purpose" [(ngModel)]="selectPurpose"
                                        placeholder="Select Purpose" (ngModelChange)="getCollegeTableDetails($event)">
                                    </ng-select>
                                    <!-- <ng-select [items]="Purpose | async" bindLabel="NAME" bindValue="ID"
                                        [trackByFn]="trackByFn" [minTermLength]="minLengthTerm"
                                        [loading]="PurposeLoading"
                                        typeToSearchText="Please enter {{minLengthTerm}} or more characters"
                                        formControlName="purpose" [typeahead]="PurposeInput" [(ngModel)]="selectPurpose"
                                        placeholder="Select Purpose">
                                    </ng-select> -->
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['purpose'].invalid && (angForm.controls['purpose'].dirty || angForm.controls['purpose'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['purpose'].errors?.required">
                                    This is required field
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <ng-select [items]="Department" bindValue="ID" bindLabel="NAME"
                                        formControlName="Select_Department" [(ngModel)]="selectDepartment"
                                        placeholder="Select Department">
                                    </ng-select>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label "
                                *ngIf="angForm.controls['Select_Department'].invalid && (angForm.controls['Select_Department'].dirty || angForm.controls['Select_Department'].touched)"
                                class="alert alert-danger mt-2">
                                <div *ngIf="angForm.controls['Select_Department'].errors?.required">
                                    This is required field
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div style="overflow-x: auto;">
                                <table class="table table-bordered compact">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 15%;">BUDGET CODE</th>
                                            <th scope="col" style="width: 20%;">BUDGET HEAD</th>
                                            <!-- <th scope="col" style="width: 40%;" *ngIf="hideColumn">PARTICULAR</th> -->
                                            <th scope="col" style="width: 20;">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of studentDescriptionDetails">
                                            <th scope="row">{{data.BUDGET_CODE}}</th>
                                            <td>{{data.GL_NAME}}</td>
                                            <!-- <td *ngIf="hideColumn">{{data.NAME}}</td> -->
                                            <td> <input type="text" name="Examination" class="form-control"
                                                    placeholder="Enter Amount " id="Examination" pattern="^[0-9]+$"
                                                    title="Input allowed only  A-Z a-z (Space)" value="{{data.AMOUNT}}">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>

                        <div class="col-sm-2 " style="float: right;">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" name="Total_Amount" class="form-control " placeholder=" "
                                        id="Total_Amount" pattern="^[A-Za-z\./ -]+$"
                                        title="Input allowed only  A-Z a-z (Space)" formControlName="Total_Amount">
                                    <label for="Total_Amount">Total Amount<sub class="required">* </sub></label>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>


                        <div class="col-sm-4 ">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <textarea type="text" name="Enter_Particular" class="form-control" placeholder=" " style="height: 60px;"
                                        pattern="^[A-Za-z\./ -]+$" title="Input allowed only  A-Z a-z  - / . (Space)"
                                        id="Enter_Particular" maxlength="4000" formControlName="Enter_Particular"
                                        required></textarea>
                                    <label for="Enter_Particular">Enter Particular<sub class="required">* </sub></label>
                                </span>
                            </div>
                            <div class="form-group form-primary form-static-label"
                                *ngIf="angForm.controls['Enter_Particular'].invalid && (angForm.controls['Enter_Particular'].dirty || angForm.controls['Enter_Particular'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Enter_Particular'].errors?.required">
                                    This is required field
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-sm-12">
                            <div style="float: right;">
                                <button class="btn btn-primary  ripple light " style="margin-right:3px"
                                    (click)="saveAsDraft()">Save As
                                    Draft</button>
                                <button class="btn btn-primary ripple light" style="margin:3px" (click)="submit()">Save
                                    & Proceed To
                                    Pay</button>
                                <button class="btn btn-dark ripple light" [routerLink]="">Back</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>