<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Generate Receipt</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Enter Transaction Number</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group input-group">
                                <span class="border-lable-flt">
                                    <input type="text" style="text-align: right;" name="receiptNum" class="form-control"
                                        placeholder=" " pattern="^[0-9]" title=" Input allowed only  0-9" #value
                                        maxlength="18" (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                                        minlength="14" id="receiptNum">
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary  ripple light "
                                (click)="generateReceipt(value.value)">Generate Receipt</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary  ripple light" (click)="back()">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>