<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="javascript:">
                    <div class="row mt-3">
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body ">
                                    <img src="assets/images/SUK-Name.gif" class="imagesize">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body card_padding">
                                    <div class="row m-b-6">
                                        <div class="col-md-12">
                                            <h4 class="text-center">Instructions</h4>
                                        </div>
                                    </div>
                                    <div class="card-block ">
                                        <div class="row">
                                            <ul>
                                                <li>
                                                    <h5 class="bold">Instructions for Student</h5>
                                                    <ul>
                                                        <li>Use Your PRN number as User name and Password</li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <h5 class="bold"> Instruction for College</h5>
                                                    <ul>
                                                        <li>Use AICTE code of College as User name and Password</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <h5 class="bold">Instruction for Other</h5>
                                                    <ul>
                                                        <li>Create User name and Password in Registration form</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-12 right">
                                                <button class="btn btn-primary ripple light" style="float: right;"
                                                    [routerLink]="['/auth/login/simple']">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>